.main-nav-bar{
  width: 100%;
  height: 10vh;
  background-color: #484a5b;
  padding-bottom: 10px;
}

#logo{
  height: 100%;
  width: 20%;
  object-fit: contain;
  float: left;
  clear: all;
}

#logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navigation{
  height: 100%;
  width: 80%;
  object-fit: contain;
  float: right;
  clear: all;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.flex-item{
  padding: 15px;
  color: white;
  align-items: center;
  font-size: 2vw;
  font-weight: 100;
  text-align: center;
}

.navigation a{
  text-decoration: none;
  color: white;
}

.navigation a:hover{
  color: orange;
}

.content-div{
  background-image: url("../Links/cloudy-sky.png")
}
